body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

.dashboard-container {
    display: flex;
    height: calc(100vh - 70px);
    margin-top: 70px;
}

.sidebar {
    width: 250px;
    background-color: #fff;
    border-right: 1px solid #ddd;
    padding: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    margin-bottom: 15px;
}

.sidebar ul li a {
    text-decoration: none;
    font-size: 16px;
    color: #666;
    display: block;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.sidebar ul li a:hover,
.sidebar ul li a.active {
    background-color: #e74c3c;
    color: #fff;
}

.main {
    flex-grow: 1;
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.details-section {
    display: flex;
    gap: 20px;
}

.card {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    flex: 1;
    text-align: center;
}

.profile-section {
    margin: 50px 0px 0;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    flex: 2;
}

.profile-section h3 {
    margin: 0;
}

.profile-section p {
    margin: 5px 0;
    color: #777;
}

.edit-btn {
    background-color: #ff4d4d;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.edit-btn:hover {
    background-color: #e04343;
}